@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}


body{
font-family: Outfit, serif;
font-size: 15px;
background-color: hsl(31, 53%, 90%);
}

.background{
     background-color: white;
     border-radius: 15px;
}

h1{
    padding-left: 50px;
}

h3{
    color: hsl(332, 51%, 32%);
}

h2{
    color: hsl(14, 45%, 36%);
    padding-left: 50px;
}


.Ingredients{
      background-color: hsl(330, 100%, 98%);
      margin: 30px;
      padding: 15px;
      border-radius: 15px;
}

.cal{
    color: hsl(14, 45%, 36%);
}

.center{
    display: block;
    border-radius: 50px;
    margin: 15px;
    padding: 30px;
    width: 670px;
    
}

.list{
    padding-left: 70px;
}

ol{
    padding-left: 70px;
}

p{
    padding-left: 50px;
}

ul{
    padding-left: 70px;
}

table{
    width: 600px;
    border-collapse: collapse;
}

td{
    padding: 15px;
    border-bottom: 1px solid #eee;
}

td:nth-child(2) {
    font-weight: bold;
    color: #6f3b1e
}

